/* global */

html {
    background: #fff;
    margin: 0;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    overflow: hidden;    
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: 'Nunito', Arial, sans-serif;
    color: #003d66;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1 { 
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
 
h2 {
        letter-spacing: 2px;
}
header h2 {
    color: black;
    font-size: 1.3em;
}
div h2 {
    font-size: 1.3em;
}

h3 { 
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 0;
}

/* dates */
p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'IBM Plex Serif', Times, serif;
    color: #00699a;
    font-size: .9em;
    letter-spacing: 1px;
}

/* organization + location */
h3 + p {
    text-transform: uppercase;
    font-family: 'Nunito', Arial, sans-serif;    
    color: dimgrey;
    letter-spacing: 1px;
}

/* bullet list contents */
ul li {
    font-family: 'IBM Plex Serif', Times, serif;
    color: grey;
    line-height: 1.4;
    padding-bottom: 10px;
    font-size: .9em;
}

/* header and footer */

header {
    text-align: center;
    padding: 40px;
}

footer p {
    text-align: center;
    font-family: 'Nunito', Arial, sans-serif; 
    padding: 30px;
}

/* links */
a {
    color: steelblue;
}

a:hover {
    color: lightblue;
}

/*media query*/

@media (min-width: 850px) {
    /* columns */
.col-left {
    width: 25%;
    float: left;
    padding-right: 5%;
    display: inline;
    min-height: 100px;
}
.col-right{ 
    width: 70%;
    float: left;
    display: inline;
    min-height: 100px;    
}
/* columns under "skills" section */
.col-1 {
    width: 50%;
    float: left;
}
.col-2 {
    width: 50%;
    float: left;
}
}