/* first things first do this */
body, html, {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px;	
}

/* this gets rid of all default formatting in html */
* {
	margin: 0;
	padding: 0;
}

header {
	background: white;
	width: 15%;
	float: left;
	font-family: "Times New Roman", serif;
	display: inline-block;
	margin-left: 50px;
	margin-bottom: 20px;
	margin-right: 0;
	white-space: nowrap;
}

h1, h2, h3, h4 {
	color: black;
	font-family: "Times New Roman", serif;
	font-style: italic;
	height: 25px;
	margin: 5px;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: black;
	font-style: none;
	text-decoration: none;
}

/* menu */

ul#menu {
	list-style-type: none;
	padding: 0;
	margin: 30px;
	margin-top: 20px;
}

#menu a {
	display: inline-block;
	float: left;
	width: 15px;
	height: 20px;
	color: black;
	font-family: "Letter Gothic Std", "Lucida Sans", sans-serif;
	font-weight: normal;
	padding-top: 15px;
	padding-left: 25px;
}

#menu a:hover {
	text-decoration: underline;
	color: grey;
}

/* img */

img {
	width: 700px;
	height: 200px;
	background: white;
	margin: 5px;
	margin-left: 50px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	float: left;
	display: inline-block;
	position: relative;
}

img:hover {
	opacity: 1.0;
    filter: alpha(opacity=100);
}

p.clear {
	clear: both;
	height: 0;	
	margin: 30;
	padding: 0;
}
	
main {
	background: white;
	display: inline-block;
}

p {
	margin-bottom: 1em;
	text-align: left;
	color: grey;
	font-family: "Letter Gothic Std", "Lucida Sans", sans-serif;
}

p:hover {
	color: black;
}

section {
	margin-bottom: 5px;
	padding-bottom: 45px;
}

aside {
	width: 300px;
	display: inline-block;
	float: left;
	margin-left: 10px;
	padding-top: 0;
	position: absolute;
}
