* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;
}

html {
  background-color: #222;
  color: ivory;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* your CSS below! */
div {
  margin-bottom: 25px;
}

td {
  width: 50px;
  height: 50px;
  background: lightgray;
}

.board {
  background-color: #222;
}

.lavender {
  background-color: plum;
}

.darkturquoise {
  background-color: darkturquoise;
}

.aquamarine {
  background-color: aquamarine;
}

button {
  padding: 0.85em ;
  margin: .5em;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  text-transform: uppercase;
  background-color: ivory;
  letter-spacing: .25rem;
  /* color: #fefefe; */
}

button:hover, button:focus {
  background-color: rgba(256, 256, 256, 0.6);
}

button:focus {
  outline: dashed 1px #lightgray;
}

#color-change {
  padding: 0.85em ;
  height: 3em;
  margin: .5em;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  /* text-transform: uppercase; */
  background-color: ivory;
  letter-spacing: .25rem;
  /* color: #fefefe; */
}
