html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-size:12px;
	font-family: DIN Condensed, arial, sans-serif;
	background: url('images/blackboard.png') no-repeat center center fixed; /* #ff5797 */
	background-size: cover;
  	min-width: 300px;
}

/* this gets rid of all default formatting in html */
* {
	margin:0;
	padding:0;
}

p.clear {
	clear: both;
	height: 0;	
	margin-top: 0px;
	padding: 0;
}

ul
{
    list-style-type: none;
}

ul li {
	margin: 5px;
	font-family: DIN Alternate, Arial, sans-serif;
	font-size: 14pt; /* 20px also good */
	color:rgba(255,255,255,0.8);
	line-height: 100%;
}

ol li {
	margin-left: 20px;
	font-family: DIN Alternate, Arial, sans-serif;
	font-size: 20px; /* 20px also good */
	color:rgba(255,255,255,0.8);
	line-height: 110%;
}

header#primary
{
    width: 100%;
    height: 100px;
    background: #313131;
}

header h1
{
	font-family: DIN Condensed, arial, sans-serif;
	font-size: 90px;
    margin: 0px 0px 0px 20px;
    padding-top: 30px;
    line-height: 100px;
    color: #ffffff;
    text-align: left;
}

#sidebar
{
    float: left;
/*    width: 150px; */
    background: #ed79a5; 
    min-height: 100%;
/*    overflow: auto; // makes a sidebar */
}

#sidebar ul li {
	font-family: Din Alternate, Arial, sans-serif;
	font-size: 20px; /* 20px also good */
	color:rgba(255,255,255,0.8);
}

a:link {
	text-decoration: none;
}

a:visited {
	color: black;
	font-style: none;
	text-decoration: none;
}

#main
{
    float: left;
}

img.sid {
	display: inline-block;
	width: 125px;
}

img.title {
	width: 100%;
	margin-top: 25px;
}

img.click {
	width: 700px;
	display: block;
	margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px dotted #ffffff;
}

img.sidd {
	display: inline-block;
	width: 125px;
    border-bottom: 2px solid #ffffff;
}

img.click1 {
	width: 500px;
	display: block;
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

img.in {
	width: 90%;
	text-align: left;
}

#menu {
	width: 100%;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#ING {
	width: 47%;
	display: block;
	margin: 10px;
	float: left;
	margin-left: 20px;
	text-align: left;
	letter-spacing: 1px;
}

#INS {
	width: 47%;
	display: block;
	float: right;
	margin: 10px;
	margin-right: 20px;
	letter-spacing: 1px;
}

h3 {
	font-family: DIN Condensed, arial, sans-serif;
	font-size: 50px;
	color: white;
}

h4 {
	font-family: DIN Condensed, arial, sans-serif;
	font-size: 20px;
	color: white;
}

#sub {
	display: none;
}

section {
	display: none;
}