* {
	margin: 0;
	padding: 0;
}

body
{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
	background: #0066cc; /*e7e7e8*/
}

h2 {
	font-family: DIN Condensed, sans-serif;
	color: white;
	opacity: 0.9;
	font-size: 30px;
}



#text a:link {
	color: white;
	text-decoration: none;
}

#text a:visited {
	color: white;
}

#text a:hover {
	color: #222222;
	opacity: 0.9;
}

#text a:active {
	color: black;
}

#container {
	margin-left: auto;
	margin-right: auto;
}
	/*
#text {
	width : 35%;
	height: 50%;
	background: white;
	opacity: 0.9;
	border: 1px solid grey;
	font-family : Helvetica, sans-serif;
	font-size : 12pt;
	float : right;
	margin-top : 5%;
	margin-left: 10px;
	margin-right: 10%;
	margin-bottom: 10px;
	padding-left : 25px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	position: relative;
}
*/

ul {
	list-style-type: none;
}

area {
	position: relative;
	z-index: 100;
}

area + span {
	display: none;
}

area:hover {
	z-index: 101;
}

@media only screen and (min-width : 541px){
	header {
		/*	background: black;*/
		/*	opacity: 0.9;*/
		width: 100%;
		float: center;
	    font-family: DIN Condensed, sans-serif;
		font-size: 30px;
		color: white;
	    letter-spacing: 2px;
	    text-align: center;
		display: inline-block;
		padding: 25px;
		height:80px;
	}

	h1 {
		opacity: 0.9;
		color: white;
		left: 100px;
		font-family: DIN Condensed, sans-serif;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 2px;
	/*  text-align: center;
		height: 25px;
		padding: 4px; padding-bottom:8px;
		margin: auto;
		margin-top: 55%;
		margin-left: 45%;
		margin-bottom: 4px;*/
		position: absolute;
	}

	#image { 
		float: left;
		margin-left: 100px;
		margin-right: 50px;
		margin-top: 10px;
		position: relative;	
	}

	#shape1 {
		width:550px;
		border:0;
	}

	#shape2 {
		width:650px;
		border:0;
	}

	#shape3 {
		width:650px;
		border:0;
	}

	#shape4 {
		width:600px;
		border:0;
	}
	
	#text {
		font-size:17.5pt;
		color: white;
	/*	margin-left:50px;*/
		top: 100px;
		padding-right:50px;
	}
	
	area:hover + span {
		display:block;
		width:260px;
		color:#000;
		background:#FFFFFF;
		border: 1px solid grey;
		padding: 10px;
		opacity: 0.95;
		font-size:10px;
		text-decoration:none;
		position:absolute;
		top: 355px;
		left: 50px;
	}
	span {
	display: none;
	}

}
/*
@media only screen and (min-width : 320px) and (max-width : 767px) {
	#shape1 {
		width: 800px;
		margin-left: 200px;
	}
	#text {
	display: inline-block;
	font-size: 22pt;
	}
}
*/

@media only screen and (max-width: 540px){
	header {
		/*	background: black;*/
		/*	opacity: 0.9;*/
		width: 100%;
		float: center;
	    font-family: DIN Condensed, sans-serif;
		font-size: 20px;
		color: white;
	    letter-spacing: 2px;
	    text-align: center;
		display: inline-block;
		padding: 10px;
		height:30px;
	}
	h1 {
/*	background: black;*/
	opacity: 0.9;
	color: white;
	left: 100px;
	font-family: DIN Condensed, sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
/*  text-align: center;
	height: 25px;
    padding: 4px; padding-bottom:8px;
	margin: auto;
	margin-top: 55%;
	margin-left: 45%;
	margin-bottom: 4px;*/
	position: absolute;
	}
	#image { 
	float: left;
	margin-left: 350px;
	margin-right: 50px;
/*	margin-top: 10px;*/
	position: relative;	
	}
	#shape1 {
		width:550px;
		border:0;
	}

	#shape2 {
		width:650px;
		border:0;
	}

	#shape3 {
		width:650px;
		border:0;
	}

	#shape4 {
		width:600px;
		border:0;
	}
    #text {
    	display: none;
    }
    area:hover + span {
		display:none;
	}
	span {
	display: none;
	}	
}

@media only screen and (max-device-width: 540px) and (-webkit-min-device-pixel-ratio: 2) {
	header {
		display:none;
/*		background: black;*/
		/*	opacity: 0.9;
		width: 100%;
		float: center;
	    font-family: DIN Condensed, sans-serif;
		font-size: 20px;
		color: white;
	    letter-spacing: 2px;
	    text-align: center;
		display: inline-block;
		padding: 10px;
		height:10px;*/
	}
	h1 {
/*	background: black;*/
	opacity: 0.9;
	color: white;
	left: 15px;
	font-family: DIN Condensed, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
/*  text-align: center;
	height: 25px;
    padding: 4px; padding-bottom:8px;
	margin: auto;
	margin-top: 55%;
	margin-left: 45%;
	margin-bottom: 4px;*/
	position: absolute;
	}
	#image { 
	float: left;
	margin-left: 90px;
	margin-top: 15px;
	position: relative;	
	}
	#shape1 {
		width: 160px;
    }
	#shape2 {
		width: 200px;
    }    
	#shape3 {
		width: 200px;
    }  
	#shape4 {
		width: 175px;
    }        
    #text {
    	display: none;
    }
    area:hover + span {
		display:none;
	}
	span {
	display: none;
	}	
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2 {
	header {
/*		background: black;*/
		/*	opacity: 0.9;*/
		width: 100%;
		float: center;
	    font-family: DIN Condensed, sans-serif;
		font-size: 20px;
		color: white;
	    letter-spacing: 2px;
	    text-align: center;
		display: inline-block;
		padding: 10px;
		height:10px;
	}
	h1 {
/*	background: black;*/
	opacity: 0.9;
	color: white;
	left: 20px;
	font-family: DIN Condensed, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
/*  text-align: center;
	height: 25px;
    padding: 4px; padding-bottom:8px;
	margin: auto;
	margin-top: 55%;
	margin-left: 45%;
	margin-bottom: 4px;*/
	position: absolute;
	}
	#image { 
	float: left;
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 10px;
	position: relative;	
	}
	#shape1 {
		width: 700px;
    }
	#shape2 {
		width: 750px;
    }    
	#shape3 {
		width: 750px;
    }  
	#shape4 {
		width: 700px;
    }        
    #text {
    	display: none;
    }
    area:hover + span {
		display:none;
	}
	span {
	display: none;
	}	
}
