/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
    font-family: 'Roboto Slab', serif;

/*	font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;*/
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    

    
/*    azur lane*/
background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
/*    jshine*/
background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/*azure pop*/
 background: #ef32d9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
/*    sublime light*/
    background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    




}

.masthead {
    margin-top: 6rem;
/*    padding: 0.1rem 0.1rem;*/
/*    background-color: #0D1B2E;*/
    color: white;
/*    border-bottom: solid 1px white;*/
    
}

.masthead h1 {
    font-family: 'arvo';
    text-align: center;
    text-transform:lowercase;
    letter-spacing: .02em;
/*    font-size: 2rem;*/
    
}

.intro {
    padding: 1rem 1rem;
    font-family: 'quicksand';
    
    font-size: 1rem;
    color: #ffffff;
/*    background: mistyrose;*/
/*    background: #429890;*/
}


.intro p,
.test-area {
    margin: 0 auto;
    text-align:center;
    max-width: 550px;
}

.test-area {
    margin-bottom: 4em;
    padding: 0 2em;    
}

.test-wrapper {
    border: 10px solid white;
    border-radius: 10px;
    
}

::-webkit-input-placeholder {
/*  color: peachpuff;*/
    font-size: 1rem;
/*    padding: 0.5rem;*/
}
::-moz-placeholder {
/*  color: peachpuff;*/
    font-size: 1rem;
/*    padding: 0.5rem;    */
}
:-ms-input-placeholder {
/*  color: peachpuff;*/
    font-size: 1rem;
/*    padding: 0.5rem;    */
}
::placeholder {
/*  color: peachpuff;*/
    font-size: 1rem;
/*    padding: 0.5rem;    */
}

#origin-text {
    margin: 1em 0;
    padding: 1em 1em 0;
    color: darkslategrey;
    background-color: #bee8da;   /*mintcream lavenderblush*/  
/*    background-color: #ededed;*/
}

#origin-text p {
    margin: 0;
    font-size: 1rem;
    padding-bottom: 1em;
}

.test-wrapper {
    display: flex;
}

.test-wrapper textarea {
    flex: 1;
    font-size: 1rem;
    padding: 0.5rem;      
}

.meta {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.timer {
    font-size: 3em;
    font-weight: bold;
    color:white;
}

#reset {
    padding: .5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    font-family:quicksand;
    font-size: 1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    background: tomato;
    border: 10px solid whitesmoke;
    border-radius: 15px;    
}

#reset:hover {
    color: white;
    background-color: #E95D0F;
    border: 10px solid #E95D0F;
    
}
