html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', times, serif;
  color: dimgray;
  background: bisque;
}

p {
  font-family: 'Roboto', arial, sans-serif;
  font-size: .8rem;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  /* border: 3px solid red; */
  /* background: deepskyblue; */

}

.container * {
  margin: 1rem;
  /* padding: 0.25rem; */
}

#balloon {
  font-size: 4rem;
}
